body {
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Karla, serif, sans-serif;
}

.main {
  width: 550px;
  height: 650px;
  background: #1f2937;
}

.description {
  margin-top: 60px;
  margin-left: 52px;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin-bottom: 10px;
}

.title-green {
  color: #4adf86;
}

.note {
  color: #d5d4d8;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.questionUser {
  color: #4adf86;
  font-weight: 800;
}

.userSymbols {
  margin-bottom: 10px;
}

.button {
  width: 191px;
  height: 42px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  margin-bottom: 35px;
  cursor: pointer;
}

.button:active {
  background: green;
  color: #1f2937;
}

.line {
  width: 400px;
  border: 1px solid #2f3e53;
  margin-bottom: 35px;
}

.result {
  display: flex;
  flex-direction: column;
}

.password {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #273549;
  border-radius: 6px;
  margin-left: 52px;
  text-align: center;
  color: #10b981;
  font-weight: 800;
  margin-bottom: 20px;
  margin-right: 10px;
}

.password-box {
  display: flex;
  justify-content: start;
}

.copy {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 800;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
}

.copy:active {
  background: green;
  color: #1f2937;
}


